<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <% ts = temps.split(',').join("<br>") %>
        <p><%- ts %></p>
    </body>
</html>