<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <% ts = temps %>
        <p><%- ts %></p>
		<!-- JSON.parse(ts)[0]["dt"] -->
    </body>
</html>